## Dados para o Painel Semanal 
Script para juntar as informações do primeiro painel semanal do mês.


Pegar os dados do CLOSED
> FECHADO  - 1 Mes para tras 
> MES ATUAL ANO ANTERIOR 
> MÊS/ ANO ANTERIOR 
> PROJEÇÃO M1 - 1 Mes para frente 

> COTA - Pegar no IBP;   ???
> META - Pegar no Excel;  ???

> CANAL DIRETO - Somente para MDA.
> LOJA ELUX - Não tem Proj M1
            - Meta é igual a Cota

> CATEG - ADEGA,BEBEDOURO,CERVEJEIRA,FORNO DE BANCADA,FRONT LOAD,SECADORA
        - Utilizar a COTA como META.

#### TABELAS
selloutmensal_trade - Mensal e Previa
selloutsemanal_trade - Semanal

### PARAMETROS DEFINIDOS

In [1]:
import pyodbc
import pandas as pd
from datetime import datetime

In [2]:
server = 'elxa3sql-sobrbiservices-dev-001.database.windows.net' 
database = 'SOBR-BIServices' 
username = 'sobrbiservices' 
password = 'b!brSql01' 

#connection string
conexao = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};\
    SERVER='+server+'; DATABASE='+database+';UID='+username+';PWD='+ password)

conn = conexao.cursor()

# conn.description traz a lista do schema de cada coluna
#columns = [column[0] for column in conn.description]

In [3]:
# SETAR O MES ATUAL, PARA TERMOS O PARAMETRO EM CADA QUERY
data_ref = '2022/12/01'

### MONTANDO OS DATAFRAMES PARA CADA REFERENCIA

In [5]:
## FECHADO
q_fechado = f"""
DECLARE @data_ref DATE;
SET @data_ref = '{data_ref}'
SELECT * FROM selloutmensal_trade WHERE DATA = DATEADD(month,-1,@data_ref) """

result_fechado = conn.execute(q_fechado).fetchall()
# conn.description traz a lista do schema de cada coluna
columns = [column[0] for column in conn.description]

df_fechado = pd.DataFrame.from_records(result_fechado, columns= columns)

df_fechado['STATUS'] = 'FECHADO'
df_fechado.head()

,DATA,BANDEIRA,REGIONAL,MODELO,CATEGORIA,SUBCATEGORIA,MARCA,SELLOUT,ESTOQUE,MDA_SDA,UPLOADED,UPLOAD_METHOD,STATUS
0,2022-11-01,ALLIED,REGIONAIS,AQP20,ASPIRADOR,ÁGUA E PÓ,ELECTROLUX,199,40,SDA,2022-12-12 19:34:37.637,MANUAL,FECHADO
1,2022-11-01,ALLIED,REGIONAIS,AWD01,ASPIRADOR,ÁGUA E PÓ,ELECTROLUX,132,2,SDA,2022-12-12 19:34:37.637,MANUAL,FECHADO
2,2022-11-01,ALLIED,REGIONAIS,BLP70,LIQUIDIFICADOR,LIQUIDIFICADOR,ELECTROLUX,1,13,SDA,2022-12-12 19:34:37.637,MANUAL,FECHADO
3,2022-11-01,ALLIED,REGIONAIS,CMP70,CAFETEIRA,CAFETEIRA,ELECTROLUX,0,12,SDA,2022-12-12 19:34:37.637,MANUAL,FECHADO
4,2022-11-01,ALLIED,REGIONAIS,EAF10,AIR FRYER,AIR FRYER,ELECTROLUX,55,21,SDA,2022-12-12 19:34:37.637,MANUAL,FECHADO

In [6]:
## MES ATUAL ANO ANTERIOR

q_mes_atual_ano_anterior = f"""
DECLARE @data_ref DATE;
SET @data_ref = '{data_ref}'
SELECT * FROM selloutmensal_trade
WHERE DATA = DATEADD(year,-1,@data_ref) """

result_mes_atual_ano_anterior = conn.execute(q_mes_atual_ano_anterior).fetchall()
df_mes_atual_ano_anterior = pd.DataFrame.from_records(result_mes_atual_ano_anterior, columns= columns)
df_mes_atual_ano_anterior['STATUS'] = 'MÊS ATUAL ANO ANTERIOR'
df_mes_atual_ano_anterior.head()

,DATA,BANDEIRA,REGIONAL,MODELO,CATEGORIA,SUBCATEGORIA,MARCA,SELLOUT,ESTOQUE,MDA_SDA,UPLOADED,UPLOAD_METHOD,STATUS
0,2021-12-01,AMAZON,ECOM,A10N1,ASPIRADOR,ÁGUA E PÓ,ELECTROLUX,237,1028,SDA,2022-12-12 19:34:37.637,MANUAL,MÊS ATUAL ANO ANTERIOR
1,2021-12-01,AMAZON,ECOM,AQP20,ASPIRADOR,ÁGUA E PÓ,ELECTROLUX,115,268,SDA,2022-12-12 19:34:37.637,MANUAL,MÊS ATUAL ANO ANTERIOR
2,2021-12-01,AMAZON,ECOM,AWD01,ASPIRADOR,ÁGUA E PÓ,ELECTROLUX,780,613,SDA,2022-12-12 19:34:37.637,MANUAL,MÊS ATUAL ANO ANTERIOR
3,2021-12-01,AMAZON,ECOM,BLP50,LIQUIDIFICADOR,LIQUIDIFICADOR,ELECTROLUX,1,,SDA,2022-12-12 19:34:37.637,MANUAL,MÊS ATUAL ANO ANTERIOR
4,2021-12-01,AMAZON,ECOM,BSE10,LIQUIDIFICADOR,LIQUIDIFICADOR,ELECTROLUX,39,145,SDA,2022-12-12 19:34:37.637,MANUAL,MÊS ATUAL ANO ANTERIOR

In [7]:
## MES/ANO ANTERIOR
# dataa = datetime.strptime('2022/10/01','%Y/%m/%d').date()

q_mes_ano_anterior = f"""
DECLARE @data_ref DATE;
SET @data_ref = '{data_ref}'
SELECT * FROM selloutmensal_trade
WHERE DATA = DATEADD(month,-1,DATEADD(year,-1,@data_ref)) """

df_mes_ano_anterior = pd.read_sql(q_mes_ano_anterior, conexao)

df_mes_ano_anterior['STATUS'] = 'MÊS/ANO  ANTERIOR'
df_mes_ano_anterior.head()

c:\Users\goncavic01\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,DATA,BANDEIRA,REGIONAL,MODELO,CATEGORIA,SUBCATEGORIA,MARCA,SELLOUT,ESTOQUE,MDA_SDA,UPLOADED,UPLOAD_METHOD,STATUS
0,2021-11-01,AMAZON,ECOM,A10N1,ASPIRADOR,ÁGUA E PÓ,ELECTROLUX,638,1113,SDA,2022-12-12 19:34:37.637,MANUAL,MÊS/ANO ANTERIOR
1,2021-11-01,AMAZON,ECOM,AQP20,ASPIRADOR,ÁGUA E PÓ,ELECTROLUX,272,381,SDA,2022-12-12 19:34:37.637,MANUAL,MÊS/ANO ANTERIOR
2,2021-11-01,AMAZON,ECOM,AWD01,ASPIRADOR,ÁGUA E PÓ,ELECTROLUX,1093,1516,SDA,2022-12-12 19:34:37.637,MANUAL,MÊS/ANO ANTERIOR
3,2021-11-01,AMAZON,ECOM,BSE10,LIQUIDIFICADOR,LIQUIDIFICADOR,ELECTROLUX,99,,SDA,2022-12-12 19:34:37.637,MANUAL,MÊS/ANO ANTERIOR
4,2021-11-01,AMAZON,ECOM,CMB21,CAFETEIRA,CAFETEIRA,ELECTROLUX,10,58,SDA,2022-12-12 19:34:37.637,MANUAL,MÊS/ANO ANTERIOR

In [9]:
## PROJEÇÃO M1

q_projecao_m1 = f"""
DECLARE @data_ref DATE;
SET @data_ref = '{data_ref}'
SELECT * FROM selloutmensal_trade
WHERE DATA = DATEADD(month,1,@data_ref)"""

df_projecao_m1 = pd.read_sql(q_projecao_m1, conexao)

df_projecao_m1['STATUS'] = 'PROJEÇÃO M1'
df_projecao_m1.head()

c:\Users\goncavic01\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,DATA,BANDEIRA,REGIONAL,MODELO,CATEGORIA,SUBCATEGORIA,MARCA,SELLOUT,ESTOQUE,MDA_SDA,UPLOADED,UPLOAD_METHOD,STATUS
0,2023-01-01,ALLIED,REGIONAIS,AQP20,ASPIRADOR,ÁGUA E PÓ,ELECTROLUX,246,,SDA,2022-12-12 19:34:37.637,MANUAL,PROJEÇÃO M1
1,2023-01-01,ALLIED,REGIONAIS,AWD01,ASPIRADOR,ÁGUA E PÓ,ELECTROLUX,138,,SDA,2022-12-12 19:34:37.637,MANUAL,PROJEÇÃO M1
2,2023-01-01,ALLIED,REGIONAIS,BLP70,LIQUIDIFICADOR,LIQUIDIFICADOR,ELECTROLUX,0,,SDA,2022-12-12 19:34:37.637,MANUAL,PROJEÇÃO M1
3,2023-01-01,ALLIED,REGIONAIS,CMP70,CAFETEIRA,CAFETEIRA,ELECTROLUX,0,,SDA,2022-12-12 19:34:37.637,MANUAL,PROJEÇÃO M1
4,2023-01-01,ALLIED,REGIONAIS,EAF10,AIR FRYER,AIR FRYER,ELECTROLUX,57,,SDA,2022-12-12 19:34:37.637,MANUAL,PROJEÇÃO M1

In [49]:
#df_projecao_m1.to_excel('proj_m1.xlsx')

#### JUNTANDO OS DATA FRAMES

In [12]:
df1 = pd.concat([df_fechado,df_mes_atual_ano_anterior,df_mes_ano_anterior,df_projecao_m1])
len(df1)
#df1.head()

26684

In [13]:
# UPPER EM TODAS AS COLUNAS
# df1.dtypes
df1['BANDEIRA'] = df1['BANDEIRA'].str.upper()
df1['REGIONAL'] = df1['REGIONAL'].str.upper()
df1['MODELO'] = df1['MODELO'].str.upper()
df1['CATEGORIA'] = df1['CATEGORIA'].str.upper()
df1['SUBCATEGORIA'] = df1['SUBCATEGORIA'].str.upper()
df1['MARCA'] = df1['MARCA'].str.upper()

### DEFININDO OS CLIENTES DO SEMANAL

In [14]:
rede_semanal = ['Allied','Amazon','Angeloni','B2W','Bemol','Benoit','Big','Camicado','Canal Direto','Carrefour','Carrefour.Com'
,'Casa e Video','Claudino','Colombo','Colombo.com','Comprebel','Condor','Eletro Matheus','Eletrozema','Estrela','Fast Shop','Fast Shop.com'
,'Formosa','Friopeças','G. Barbosa','Gazin','Havan','Império','Infoar','Leroy Merlin','Loja Electrolux','Magazine Liliani'
,'Magazine Luiza','Magazine Luiza.com','Market Place','Martinello','Martins','Master','Mercado Livre','Millena','Nosso Lar'
,'Novo Mundo','Novo Mundo.com','Pernambucanas','Quero-Quero','Ramsons','Rcell','Sams Club','Simonetti','Sipolatti','Tv Lar'
,'Via Varejo','Via Varejo.Com','Zenir']

In [15]:
# TRANSFORMANDO EM UPPER as redes
rede_semanal_u = []
for x in rede_semanal:
    rede_semanal_u.append(x.upper())

In [16]:
rede_semanal_u

['ALLIED',
 'AMAZON',
 'ANGELONI',
 'B2W',
 'BEMOL',
 'BENOIT',
 'BIG',
 'CAMICADO',
 'CANAL DIRETO',
 'CARREFOUR',
 'CARREFOUR.COM',
 'CASA E VIDEO',
 'CLAUDINO',
 'COLOMBO',
 'COLOMBO.COM',
 'COMPREBEL',
 'CONDOR',
 'ELETRO MATHEUS',
 'ELETROZEMA',
 'ESTRELA',
 'FAST SHOP',
 'FAST SHOP.COM',
 'FORMOSA',
 'FRIOPEÇAS',
 'G. BARBOSA',
 'GAZIN',
 'HAVAN',
 'IMPÉRIO',
 'INFOAR',
 'LEROY MERLIN',
 'LOJA ELECTROLUX',
 'MAGAZINE LILIANI',
 'MAGAZINE LUIZA',
 'MAGAZINE LUIZA.COM',
 'MARKET PLACE',
 'MARTINELLO',
 'MARTINS',
 'MASTER',
 'MERCADO LIVRE',
 'MILLENA',
 'NOSSO LAR',
 'NOVO MUNDO',
 'NOVO MUNDO.COM',
 'PERNAMBUCANAS',
 'QUERO-QUERO',
 'RAMSONS',
 'RCELL',
 'SAMS CLUB',
 'SIMONETTI',
 'SIPOLATTI',
 'TV LAR',
 'VIA VAREJO',
 'VIA VAREJO.COM',
 'ZENIR']

### SOMENTE CLIENTES DO SEMANAL

In [17]:
# DATAFRAME PARA OS CLIENTES DO SEMANAL
df2 = df1[df1['BANDEIRA'].isin(rede_semanal_u)]

len(df2)

23845

In [18]:
#CONVERTER A COLUNA SELL OUT EM NUMERIC

#df2['SELLOUT'] = df2['SELLOUT'].apply(lambda x: float(x.split()[0].replace(',', '.')))
# df2['ESTOQUE'] = df2['ESTOQUE'].apply(lambda y: float(y.split()[0].replace(',', '.')))
df2['ESTOQUE'] = pd.to_numeric(df2['ESTOQUE'], errors='coerce')
df2['SELLOUT'] = pd.to_numeric(df2['SELLOUT'], errors='coerce')

C:\Users\goncavic01\AppData\Local\Temp\ipykernel_11776\766179256.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['ESTOQUE'] = pd.to_numeric(df2['ESTOQUE'], errors='coerce')
C:\Users\goncavic01\AppData\Local\Temp\ipykernel_11776\766179256.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['SELLOUT'] = pd.to_numeric(df2['SELLOUT'], errors='coerce')

In [19]:
df2.groupby(['BANDEIRA','DATA'])['SELLOUT'].sum()

BANDEIRA        DATA
ALLIED          2022-11-01     1131.0
                2023-01-01     1336.0
AMAZON          2021-11-01    27618.0
                2021-12-01    15939.0
                2022-11-01    25483.0
                               ...
VIA VAREJO.COM  2023-01-01    41449.0
ZENIR           2021-11-01      686.0
                2021-12-01      866.0
                2022-11-01      987.0
                2023-01-01     1011.0
Name: SELLOUT, Length: 214, dtype: float64

In [20]:
df2.to_excel('df2.xlsx')