## Dados para o Painel Semanal 
Script para juntar as informações do primeiro painel semanal do mês.


Pegar os dados do CLOSED
> FECHADO  - 1 Mes para tras 
> MES ATUAL ANO ANTERIOR 
> MÊS/ ANO ANTERIOR 
> PROJEÇÃO M1 - 1 Mes para frente 

> COTA - Pegar no IBP;   ???
> META - Pegar no Excel;  ???

> CANAL DIRETO - Somente para MDA.
> LOJA ELUX - Não tem Proj M1
            - Meta é igual a Cota

> CATEG - ADEGA,BEBEDOURO,CERVEJEIRA,FORNO DE BANCADA,FRONT LOAD,SECADORA
        - Utilizar a COTA como META.

#### TABELAS
selloutmensal_trade - Mensal e Previa
selloutsemanal_trade - Semanal

### PARAMETROS DEFINIDOS

In [1]:
import pyodbc
import pandas as pd
from datetime import datetime

In [3]:
server = 'elxa3sql-sobrbiservices-dev-001.database.windows.net' 
database = 'SOBR-BIServices' 
username = 'sobrbiservices' 
password = 'b!brSql01' 

#connection string
conexao = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};\
    SERVER='+server+'; DATABASE='+database+';UID='+username+';PWD='+ password)

conn = conexao.cursor()

# conn.description traz a lista do schema de cada coluna
#columns = [column[0] for column in conn.description]

In [2]:
# SETAR O MES ATUAL, PARA TERMOS O PARAMETRO EM CADA QUERY
data_ref = '2022/11/01'

### MONTANDO OS DATAFRAMES PARA CADA REFERENCIA

In [4]:
## FECHADO
q_fechado = f"""
DECLARE @data_ref DATE;
SET @data_ref = '{data_ref}'
SELECT * FROM selloutmensal_trade WHERE DATA = DATEADD(month,-1,@data_ref) """

result_fechado = conn.execute(q_fechado).fetchall()
# conn.description traz a lista do schema de cada coluna
columns = [column[0] for column in conn.description]

df_fechado = pd.DataFrame.from_records(result_fechado, columns= columns)

df_fechado.head()

,DATA,BANDEIRA,REGIONAL,MODELO,CATEGORIA,SUBCATEGORIA,MARCA,SELLOUT,ESTOQUE,MDA_SDA,UPLOADED,UPLOAD_METHOD
0,2022-09-01,Amazon,ECOM,A10N1,Aspirador,Água e Pó,Electrolux,352,107,SDA,1899-12-30,MANUAL
1,2022-09-01,Amazon,ECOM,ABS03,Aspirador,Sem Saco Para Pó,Electrolux,110,24,SDA,1899-12-30,MANUAL
2,2022-09-01,Amazon,ECOM,AQP20,Aspirador,Água e Pó,Electrolux,116,0,SDA,1899-12-30,MANUAL
3,2022-09-01,Amazon,ECOM,AWD01,Aspirador,Água e Pó,Electrolux,424,415,SDA,1899-12-30,MANUAL
4,2022-09-01,Amazon,ECOM,BLP70,Liquidificador,Liquidificador,Electrolux,5,5,SDA,1899-12-30,MANUAL

In [5]:
## MES ATUAL ANO ANTERIOR

q_mes_atual_ano_anterior = f"""
DECLARE @data_ref DATE;
SET @data_ref = '{data_ref}'
SELECT * FROM selloutmensal_trade
WHERE DATA = DATEADD(year,-1,@data_ref) """

result_mes_atual_ano_anterior = conn.execute(q_mes_atual_ano_anterior).fetchall()
df_mes_atual_ano_anterior = pd.DataFrame.from_records(result_mes_atual_ano_anterior, columns= columns)
df_mes_atual_ano_anterior.head()

,DATA,BANDEIRA,REGIONAL,MODELO,CATEGORIA,SUBCATEGORIA,MARCA,SELLOUT,ESTOQUE,MDA_SDA,UPLOADED,UPLOAD_METHOD
0,2021-10-01,Amazon,ECOM,A10N1,Aspirador,Água e Pó,Electrolux,392,1528,SDA,2022-11-08 17:24:51.833,MANUAL
1,2021-10-01,Amazon,ECOM,AQP20,Aspirador,Água e Pó,Electrolux,90,449,SDA,2022-11-08 17:24:51.833,MANUAL
2,2021-10-01,Amazon,ECOM,AWD01,Aspirador,Água e Pó,Electrolux,304,1985,SDA,2022-11-08 17:24:51.833,MANUAL
3,2021-10-01,Amazon,ECOM,BSE10,Liquidificador,Liquidificador,Electrolux,82,108,SDA,2022-11-08 17:24:51.833,MANUAL
4,2021-10-01,Amazon,ECOM,CMB21,Cafeteira,Cafeteira,Electrolux,4,4,SDA,2022-11-08 17:24:51.833,MANUAL

In [6]:
## MES/ANO ANTERIOR
# dataa = datetime.strptime('2022/10/01','%Y/%m/%d').date()

q_mes_ano_anterior = f"""
DECLARE @data_ref DATE;
SET @data_ref = '{data_ref}'
SELECT * FROM selloutmensal_trade
WHERE DATA = DATEADD(month,-1,DATEADD(year,-1,@data_ref)) """

df_mes_ano_anterior = pd.read_sql(q_mes_ano_anterior, conexao)
df_mes_ano_anterior.head()

c:\Users\goncavic01\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,DATA,BANDEIRA,REGIONAL,MODELO,CATEGORIA,SUBCATEGORIA,MARCA,SELLOUT,ESTOQUE,MDA_SDA,UPLOADED,UPLOAD_METHOD
0,2021-09-01,Amazon,ECOM,A10N1,Aspirador,Água e Pó,Electrolux,232,1422,SDA,2022-11-08 17:24:51.833,MANUAL
1,2021-09-01,Amazon,ECOM,AQP20,Aspirador,Água e Pó,Electrolux,101,209,SDA,2022-11-08 17:24:51.833,MANUAL
2,2021-09-01,Amazon,ECOM,AWD01,Aspirador,Água e Pó,Electrolux,483,783,SDA,2022-11-08 17:24:51.833,MANUAL
3,2021-09-01,Amazon,ECOM,BLP50,Liquidificador,Liquidificador,Electrolux,31,,SDA,2022-11-08 17:24:51.833,MANUAL
4,2021-09-01,Amazon,ECOM,BSE10,Liquidificador,Liquidificador,Electrolux,72,52,SDA,2022-11-08 17:24:51.833,MANUAL

In [7]:
## PROJEÇÃO M1

q_projecao_m1 = f"""
DECLARE @data_ref DATE;
SET @data_ref = '2022/10/01'
SELECT * FROM selloutmensal_trade
WHERE DATA = DATEADD(month,1,@data_ref)"""

df_projecao_m1 = pd.read_sql(q_projecao_m1, conexao)
df_projecao_m1.head()

c:\Users\goncavic01\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,DATA,BANDEIRA,REGIONAL,MODELO,CATEGORIA,SUBCATEGORIA,MARCA,SELLOUT,ESTOQUE,MDA_SDA,UPLOADED,UPLOAD_METHOD
0,2022-11-01,ALLIED,REGIONAIS,PCC20,PANELA ELÉTRICA,PANELA ELÉTRICA,ELECTROLUX,37,0,SDA,1899-12-30,MANUAL
1,2022-11-01,ALLIED,REGIONAIS,AQP20,ASPIRADOR,Água e Pó,ELECTROLUX,33,0,SDA,1899-12-30,MANUAL
2,2022-11-01,ALLIED,REGIONAIS,AWD01,ASPIRADOR,Água e Pó,ELECTROLUX,8,0,SDA,1899-12-30,MANUAL
3,2022-11-01,ALLIED,REGIONAIS,STK14,ASPIRADOR,Vertical com fio,ELECTROLUX,11,0,SDA,1899-12-30,MANUAL
4,2022-11-01,ALLIED,REGIONAIS,RCB50,PANELA ELÉTRICA,PANELA ELÉTRICA,ELECTROLUX,10,0,SDA,1899-12-30,MANUAL

In [49]:
df_projecao_m1.to_excel('proj_m1.xlsx')

In [8]:
## JUNTANDO OS DATA FRAMES
df1 = pd.concat([df_fechado,df_mes_atual_ano_anterior,df_mes_ano_anterior,df_projecao_m1])
df1.head()

,DATA,BANDEIRA,REGIONAL,MODELO,CATEGORIA,SUBCATEGORIA,MARCA,SELLOUT,ESTOQUE,MDA_SDA,UPLOADED,UPLOAD_METHOD
0,2022-09-01,Amazon,ECOM,A10N1,Aspirador,Água e Pó,Electrolux,352,107,SDA,1899-12-30,MANUAL
1,2022-09-01,Amazon,ECOM,ABS03,Aspirador,Sem Saco Para Pó,Electrolux,110,24,SDA,1899-12-30,MANUAL
2,2022-09-01,Amazon,ECOM,AQP20,Aspirador,Água e Pó,Electrolux,116,0,SDA,1899-12-30,MANUAL
3,2022-09-01,Amazon,ECOM,AWD01,Aspirador,Água e Pó,Electrolux,424,415,SDA,1899-12-30,MANUAL
4,2022-09-01,Amazon,ECOM,BLP70,Liquidificador,Liquidificador,Electrolux,5,5,SDA,1899-12-30,MANUAL

In [ ]:
# UPPER EM TODAS AS COLUNAS
# df1.dtypes
df1['BANDEIRA'] = df1['BANDEIRA'].str.upper()
df1['REGIONAL'] = df1['REGIONAL'].str.upper()
df1['MODELO'] = df1['MODELO'].str.upper()
df1['CATEGORIA'] = df1['CATEGORIA'].str.upper()
df1['SUBCATEGORIA'] = df1['SUBCATEGORIA'].str.upper()
df1['MARCA'] = df1['MARCA'].str.upper()

### DEFININDO OS CLIENTES DO SEMANAL

In [9]:
rede_semanal = ['Allied','Amazon','Angeloni','B2W','Bemol','Benoit','Big','Camicado','Canal Direto','Carrefour','Carrefour.Com'
,'Casa e Video','Claudino','Colombo','Colombo.com','Comprebel','Condor','Eletro Matheus','Eletrozema','Estrela','Fast Shop','Fast Shop.com'
,'Formosa','Friopeças','G. Barbosa','Gazin','Havan','Império','Infoar','Leroy Merlin','Loja Electrolux','Magazine Liliani'
,'Magazine Luiza','Magazine Luiza.com','Market Place','Martinello','Martins','Master','Mercado Livre','Millena','Nosso Lar'
,'Novo Mundo','Novo Mundo.com','Pernambucanas','Quero-Quero','Ramsons','Rcell','Sams Club','Simonetti','Sipolatti','Tv Lar'
,'Via Varejo','Via Varejo.Com','Zenir']

In [10]:
# TRANSFORMANDO EM UPPER as redes
rede_semanal_u = []
for x in rede_semanal:
    rede_semanal_u.append(x.upper())

In [11]:
rede_semanal_u

['ALLIED',
 'AMAZON',
 'ANGELONI',
 'B2W',
 'BEMOL',
 'BENOIT',
 'BIG',
 'CAMICADO',
 'CANAL DIRETO',
 'CARREFOUR',
 'CARREFOUR.COM',
 'CASA E VIDEO',
 'CLAUDINO',
 'COLOMBO',
 'COLOMBO.COM',
 'COMPREBEL',
 'CONDOR',
 'ELETRO MATHEUS',
 'ELETROZEMA',
 'ESTRELA',
 'FAST SHOP',
 'FAST SHOP.COM',
 'FORMOSA',
 'FRIOPEÇAS',
 'G. BARBOSA',
 'GAZIN',
 'HAVAN',
 'IMPÉRIO',
 'INFOAR',
 'LEROY MERLIN',
 'LOJA ELECTROLUX',
 'MAGAZINE LILIANI',
 'MAGAZINE LUIZA',
 'MAGAZINE LUIZA.COM',
 'MARKET PLACE',
 'MARTINELLO',
 'MARTINS',
 'MASTER',
 'MERCADO LIVRE',
 'MILLENA',
 'NOSSO LAR',
 'NOVO MUNDO',
 'NOVO MUNDO.COM',
 'PERNAMBUCANAS',
 'QUERO-QUERO',
 'RAMSONS',
 'RCELL',
 'SAMS CLUB',
 'SIMONETTI',
 'SIPOLATTI',
 'TV LAR',
 'VIA VAREJO',
 'VIA VAREJO.COM',
 'ZENIR']

### SOMENTE CLIENTES DO SEMANAL

In [65]:
# DATAFRAME PARA OS CLIENTES DO SEMANAL
df2 = df1[df1['BANDEIRA'].isin(rede_semanal_u)]

len(df2)

23486

In [ ]:
#CONVERTER A COLUNA SELL OUT EM NUMERIC

#df2['SELLOUT'] = df2['SELLOUT'].apply(lambda x: float(x.split()[0].replace(',', '.')))
# df2['ESTOQUE'] = df2['ESTOQUE'].apply(lambda y: float(y.split()[0].replace(',', '.')))
df2['ESTOQUE'] = pd.to_numeric(df2['ESTOQUE'], errors='coerce')
df2['SELLOUT'] = pd.to_numeric(df2['SELLOUT'], errors='coerce')

In [70]:
df2.groupby(['BANDEIRA','DATA'])['SELLOUT'].sum()

BANDEIRA        DATA
ALLIED          2022-11-01     1183.0
AMAZON          2021-09-01    15797.0
                2021-10-01    17042.0
                2022-09-01    20137.0
                2022-11-01    27434.0
                               ...
VIA VAREJO.COM  2022-11-01    54106.0
ZENIR           2021-09-01      582.0
                2021-10-01      338.0
                2022-09-01      526.0
                2022-11-01      879.0
Name: SELLOUT, Length: 210, dtype: float64

In [71]:
df2.to_excel('df2.xlsx')